.container {
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.hover-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.hover-image:hover {
    transform: translateX(20px);
}

.hover-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.text-center {
    text-align: center;
}

body {
  background-color: #29cd93;
}

.workout {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #e5ff00;
}
.workout h2 {
  margin-top: 0;
}
.workout p {
  margin-bottom: 10px;
}
.workout .button {
  margin-top: 10px;
}

.workout.beginner {
  background-color: green;
}

.workout.intermediate {
  background-color: darkblue;
}

.workout.advanced {
  background-color: red;
}

.top-bar {
  background-color: #1bae7b;
}
.top-bar .button-group {
  margin-right: 10px;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-group .button {
  margin-top: 15px;
  margin-left: 10px;
}
.top-bar ul.menu {
  background-color: #1bae7b;
}

.top-bar ul.menu li a {
  color: #000000;
}

.top-bar-center {
  flex-grow: 1;
  text-align: center;
}

.custom-green {
  background-color: #1bae7b; 
  color: rgb(0, 0, 0); 
}

.small-search {
  width: 300px; 
  margin-right: 10px;
}

.search-container {
  display: flex; 
  align-items: center; 
}

.centered-cards {
  display: flex;
  justify-content: center;
}

.workouts-table {
  width: 100%;
  border-collapse: collapse;
}
.workouts-table th, .workouts-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.workouts-table th {
  background-color: #f2f2f2;
}
.workouts-table img {
  max-width: 50px;
  max-height: 50px;
}

.workouts-table img {
  max-width: 200px;
  max-height: 200px;
}

.button-grup {
  justify-content: center;
}

.workouts-table th:nth-child(2),
    .workouts-table th:nth-child(4),
    .workouts-table td:nth-child(2),
    .workouts-table td:nth-child(4) {
      width: 80px;
    }


.workout-card {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #1bae7b;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-responsive {
  overflow-x: auto;
}
.table-responsive table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table-responsive th, .table-responsive td {
  white-space: nowrap;
}
